
form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

form input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    outline: none;
}

form button {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background-color: royalblue;
}


#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#task-list li span {
    flex: 1;
    margin-left: 0.5rem;
    text-align: left;
}


.completed {
    text-decoration: line-through;
    color: gray;
}


.fa-trash {
    color: #888;
    cursor: pointer;
    transition: color 0.3s;
}

.fa-trash:hover {
    color: red;
}
